@import "loading";
@import "stars";

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.fa-icon {
  vertical-align: text-bottom;
}

button {
  &:focus {
    outline: none;
  }
}

.navbar-brand {
  strong {
    vertical-align: bottom;
  }
}

.navbar-dark.bg-primary {
  background-color: $indigo !important;
}

.fa-icon {
  vertical-align: middle;
}

.close, .v-select .dropdown-toggle .clear {
  font-weight: normal;
}

.currency {
  &:not(:last-child) {
    border-bottom: 1px $gray-300 solid;
  }
}

.currency-header {
  cursor: pointer;
}

.v-select.filters .dropdown-toggle {
  border: none;
  border-radius: 2px;
}

.dropdown-item:focus {
  outline: 0;
}

.full-height {
  height: 100%;
}

.modal-content {
  background-image: url('./assets/images/astronaut.svg');
  background-repeat: no-repeat;
  background-size: 100px 50px;
  background-position: bottom right;
}

#refresh-button {
  &:focus {
    box-shadow: none;
  }
}

h3.total {
  text-align: center;
}

.night-stars {
  height: calc(100% - 58px);
  min-height: 800px;
  background: linear-gradient($indigo 0%,  #010916 100%);
  text-align: center;
  .title {
    margin-top: 10%;
    padding: 1rem;
    text-shadow: 0px 0px 4px $blue;;
    color: white;
  }
  p {
    color: #b5cdea;
  }
  .cta {
    margin-top: 5rem;
    margin-bottom: 2rem;
    position: relative;
  }
}

#arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -42px;
  left: 50%;
  z-index: 1000;
  transform: rotate(180deg);
  background: transparent url('./assets/images/arrow.svg') no-repeat;
}

#to-the-moon {
  position: absolute;
  top: -50px;
  left: calc(50% + 40px);
  font-family: 'Nanum Pen Script', cursive;
  color: #b5cdea;
}

.explanation {
  h3 {
    padding: 1rem 0;
  }
  .icon {
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    color: $blue;
    border: 2px $indigo solid;
    background: white;
    border-radius: 50%;
    svg {
      position:absolute;
      top:50%;
      bottom:50%;
      transform:translate(-50%, -50%);
    }
  }
  h3 {
    color: $indigo;
  }
}

.explanation-item {
  padding: 2rem 0;
  overflow: auto;
  p {
    text-align: left;
  }
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
  a:hover {
    .text-muted {
      color: white !important;
    }
  }
}

.coins-list {
  margin-right: -15px;
  margin-left: -15px;
  .last-col {
    padding-right: 15px;
  }
  .first-col {
    padding-left: 15px;
  }
  .btn-link {
    color: white;
    padding: 0;
    margin-top: 5px;
  }
  .header {
    background-color: $indigo;
    padding: 1rem;
    border-radius: 4px 4px 0px 0px;
    a{
      color: white;
    }
  }
  margin-bottom: 5rem;
  background: white;
  border: 1px $gray-300 solid;
  border-radius: 4px;
}

.new-coin {
  text-align: center;
}

#space {
  position: relative;
  height: calc(100% - 58px);
  overflow: hidden;
}

#astronaut {
  position: absolute;
  top: 200px;
  right: 32px;
  width: 40px;
  height: 40px;
  background: transparent url('./assets/images/astronaut.svg') no-repeat;
  transform: rotate(44deg);
}

@include media-breakpoint-down(sm) {
  .navbar-nav {
    flex-direction: row;
    .dropdown {
      position: static;
    }
    .dropdown-menu {
      width: 100%;
      position: absolute;
      right: 0;
      left: auto;
    }
    .nav-item {
      &:not(:last-child) {
        margin-right: 1em;
      }

    }
  }
}


@include media-breakpoint-up(md) {
  h3.total {
    text-align: left;
  }

  .coins-list {
    margin-right: 0;
    margin-left: 0;
  }

  .new-coin {
    text-align: right;
  }

  .explanation-item {
    padding: 2rem 2rem;
  }
}