html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.fa-icon {
  vertical-align: text-bottom;
}

button {
  &:focus {
    outline: none;
  }
}

.fa-icon {
  vertical-align: middle;
}

.close, .v-select .dropdown-toggle .clear {
  font-weight: normal;
}

.currency {
  &:not(:last-child) {
    border-bottom: 1px $gray-300 solid;
  }
}

.currency-header {
  cursor: pointer;
}

.v-select.filters .dropdown-toggle {
  background: transparent;
  border: none;
  border-bottom: 1px $gray-300 solid;
}

.dropdown-item:focus {
  outline: 0;
}

.full-height {
  height: 100%;
}

.modal-content {
  background-image: url('./assets/images/astronaut.svg');
  background-repeat: no-repeat;
  background-size: 100px 50px;
  background-position: bottom right;
}

#refresh-button {
  &:focus {
    box-shadow: none;
  }
}

#space {
  position: relative;
  height: calc(100% - 58px);
  overflow: hidden;
}

#moon {
  position: absolute;
  top: 200px;
  right: 10px;
  width: 300px;
  height: 300px;
  background: transparent url('./assets/images/moon.svg') no-repeat;
}

#rocket {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: rotate(10deg);
  width: 100px;
  height: 100px;
  background: transparent url('./assets/images/rocket.svg') no-repeat;
  z-index: 2;
}

#astronaut {
  position: absolute;
  top: 200px;
  right: 32px;
  width: 40px;
  height: 40px;
  background: transparent url('./assets/images/astronaut.svg') no-repeat;
  transform: rotate(44deg);
}

#jupiter {
  position: absolute;
  top: -10px;
  right: 300px;
  width: 80px;
  height: 80px;
  opacity: 0.6;
  background: transparent url('./assets/images/jupiter.svg') no-repeat;
  transform: rotate(-20deg);
}

#saturn {
  position: absolute;
  left: 200px;
  top: 20px;
  width: 120px;
  height: 100px;
  background: transparent url('./assets/images/saturn.svg') no-repeat;
}

#planet-earth {
  position: absolute;
  left: -200px;
  bottom: -250px;
  width: 600px;
  height: 600px;
  background: transparent url('./assets/images/planet-earth.svg') no-repeat;
}

#space-station {
  position: absolute;
  left: 5px;
  bottom: 370px;
  width: 45px;
  height: 45px;
  background: transparent url('./assets/images/space-station.svg') no-repeat;
  transform: rotate(75deg);
}

#space-title {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  z-index: 4;
}

@include media-breakpoint-down(sm) {
  .navbar-nav {
    flex-direction: row;
    .dropdown {
      position: static;
    }
    .dropdown-menu {
      width: 100%;
      position: absolute;
      right: 0;
      left: auto;
    }
    .nav-item {
      &:not(:last-child) {
        margin-right: 1em;
      }

    }
  }
}