// Override / set color variables
$white: #fff;
$black: #000;
$green: #00934F;
$blue: #0C62C8;
$orange: #ed543f;
$yellow: #ebbc4b;
$red: #FF5A5F;

$blue-dark: #02162D;


$gray-100: #fefefe;
$gray-200: #f9f9fd;
$gray-300: #eeeeff;
$gray-600: #888a99;
$gray-900: #333;

// Set brand colors
$primary: $blue;
$success: $green;
$info: $white;
$warning: $yellow;
$danger: $red;

$body-bg: $gray-200;
// $body-bg: $blue-dark;

$font-family-sans-serif: 'Pontano', Helvetica, Arial, sans-serif;

$dropdown-link-color:        $gray-900;
$dropdown-link-hover-color:  $white;
$dropdown-link-hover-bg:     $primary;
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg:    $gray-100;

$modal-content-bg: $gray-100;