// Override / set color variables
$white: #fff;
$black: #000;
$green: rgb(60, 179, 113);
$blue: #4A90E2;
$orange: #ed543f;
$yellow: #ebbc4b;
$red: #FF5A5F;


$gray-100: #fefefe;
$gray-200: #f3f3f3;
$gray-300: #eee;
$gray-600: #888;
$gray-900: #333;

// Set brand colors
$primary: $blue;
$success: $green;
$info: $white;
$warning: $yellow;
$danger: $red;

$body-bg: $gray-100;

$font-family-sans-serif: 'Pontano', Helvetica, Arial, sans-serif;

$dropdown-link-color:        $gray-900;
$dropdown-link-hover-color:  $white;
$dropdown-link-hover-bg:     $primary;
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg:    $gray-100;

$modal-content-bg: $gray-100;